src/exe/
src/obj/
build
cd/NTSC/1ST_READ.BIN
cd/PAL/1ST_READ.BIN
assets/COOKED/
assets/music/*.wav
sdk/Tools/src/sfxmap/sfxmap.vcxproj.user
sdk/Tools/src/sfxmap/.vs/
sdk/Tools/src/sfxmap/Release/
sdk/Tools/src/sfxmap/Debug/
sdk/Tools/src/animtex2022/animtex.vcxproj.user
sdk/Tools/src/animtex2022/.vs/
sdk/Tools/src/animtex2022/Release/
sdk/Tools/src/animtex2022/Debug/
sdk/Tools/src/scripty/scripty.vcxproj.user
sdk/Tools/src/scripty/.vs/
sdk/Tools/src/scripty/Release/
sdk/Tools/src/scripty/Debug/